@use "../palette" as *;

.comments {
    margin-top: 50vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.comment-prompt {
    color: $light;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    & > p {
        margin: 0.5em;
    }
    margin-bottom: 4rem;
}
