.header {
    position: absolute;
    height: 3.5rem;
    right: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-item {
    & > a {
        display: inline-block;
        padding: 10px;
    }
}
