@use "../palette" as *;

.pane {
    background-color: inherit;
    position: absolute;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.fadein {
    animation-name: fadein;
    animation-duration: 0s;
    animation-delay: 2.4s;
    animation-fill-mode: both;
    animation-timing-function: ease-out;
}

.about-pane {
    transform: translateX(-100%);
    display: flex;
    flex-direction: row;

    @keyframes dropIn {
        0% {
            transform: translate(-200%, 1000%) rotate(12deg) scale(800%, 1600%);
        }
        100% {
            transform: translate(-40%, 800%) rotate(12deg) scale(800%, 1600%);
        }
    }

    & > .about-bg {
        animation-name: dropIn;
        animation-fill-mode: both;
        animation-duration: 3s;
        animation-timing-function: cubic-bezier(0, 1, 0, 1);
        position: absolute;
        left: 55vw;
        top: 10vh;
        font-size: 5vh;
        color: darken($motif-color-dark, 3%);
        text-shadow: 0px 1px darken($motif-color-dark, 6%);
        z-index: -1;
    }

    & > .about-image {
        position: static;
        display: block;
        height: 100vh;
        width: calc(50vh + 750px);
        overflow: hidden;
        & > img {
            position: relative;
            height: 130vh;
            width: auto;
            @keyframes slideIn {
                0% {
                    transform: translate(-40%, -15%);
                    -webkit-mask-size: 50%;
                    mask-size: 50%;
                }
                100% {
                    transform: translate(0%, -15%);
                    -webkit-mask-size: 70%;
                    mask-size: 70%;
                }
            }
            $mask-img: linear-gradient(102deg, black 75%, transparent 75%);
            -webkit-mask-image: $mask-img;
            mask-image: $mask-img;
            -webkit-mask-repeat: no-repeat;
            mask-repeat: no-repeat;

            animation-name: slideIn;
            animation-fill-mode: both;
            animation-duration: 3s;
            animation-timing-function: cubic-bezier(0, 1, 0, 1);
        }
    }

    & > .about-content {
        margin-top: 5em;
        display: flex;
        flex-direction: column;
        width: 20em;
        margin-left: -40vw;
        @keyframes slideRight {
            0% {
                transform: translate(-30vh, 0vh);
            }
            100% {
                transform: translate(0vh, 0vh);
            }
        }
        animation-name: slideRight;
        animation-fill-mode: backwards;
        animation-duration: 3s;
        animation-timing-function: cubic-bezier(0, 1, 0, 1);
        width: 45em;
        @keyframes slideUp {
            0% {
                transform: translate(0vh, 20vh);
            }
            100% {
                transform: translate(0vh, 0vh);
            }
        }
        & > p {
            animation-name: slideUp;
            animation-fill-mode: backwards;
            animation-duration: 1.25s;
            animation-delay: 0.15s;
            animation-timing-function: ease-out;
        }
        & > h2 {
            animation-name: slideUp;
            animation-fill-mode: backwards;
            animation-duration: 1.25s;
            animation-timing-function: ease-out;
        }
    }
}

.projects-pane {
    transform: translateX(100%);
}
