$dark: #131311;
$dark-medium: #1d1c1a;
$medium: #242320;
$medium-light: #2f2c25;
$light: #433f2d;
$off-white: #a9a389;
$off-gray: darken($off-white, 30%);
/*$motif-color: #c79b66;*/
$motif-color: desaturate(lighten(#c79b66, 5%), 5%);
$motif-color-saturated: saturate(darken($motif-color, 30%), 20%);
$motif-color-desaturated: desaturate($motif-color, 10%);
$motif-color-dark: desaturate(darken($motif-color-saturated, 15%), 15%);
