@use "palette" as *;
@use "components/all";
@use "fonts" as *;

body {
    margin: 0;
    background-color: $dark;
    color: $off-white;
    overflow-x: hidden;
    font-family: monospace;
    scroll-behavior: smooth;
}

.mask {
    position: absolute;
    width: 300vw;
    height: calc(var(--page-height) * 2.89px);
    left: -100vw;
    top: 0vh;
    z-index: 900;
    mix-blend-mode: multiply;
    opacity: 0.15;
    background-image: url("../assets/textures/prewitt.png");
    background-repeat: repeat;
    pointer-events: none;
}

.playing {
    animation-play-state: running;
}

.paused {
    display: none;
    animation-play-state: paused;
}

@keyframes shake {
    @for $i from 0 through 10 {
        $percent: 0% + 10 * $i;
        $rand1: -1px + calc(random(2) * 1px);
        $rand2: -2px + calc(random(4) * 1px);
        #{$percent} { transform: translate($rand1, $rand2); }
    }
}

a {
    color: $motif-color-saturated;
    text-decoration: none;
}

a:hover {
    color: $dark;
    background-color: $motif-color-saturated;
    animation-name: shake;
    animation-duration: 0.2s;
    animation-fill-mode: none;
    animation-direction: alternate;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

a:active {
    background-color: $off-white;
}

h1 {
    font-family: $Staatliches, Arial, sans-serif;
}

@for $i from 1 through 10 {
    .indent-#{$i} {
        margin-left: calc(0.55em * $i);
    }
}

.small-line {
    display: flex;
    flex-direction: row;
    align-items: center;
    & > p {
        margin-left: 0.5em;
        margin-right: 0.5em;
    }
    & > a {
        margin-left: 0em;
        margin-right: 0.5em;
    }
}

.noselect {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
